body {
  width: 90%;
  margin: auto;
}
.panel {
  padding: 0 0 1em;
  min-height: 250px;
  max-height: 250px
}
button {
  position: absolute;
  bottom: 1em;
  margin-left: 1em;
}
.panel-heading .glyphicon {
  margin-right: .5em;
}
